* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/bg.png);
    font-size: 20px;
    line-height: 34px;
    color: #7777777;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #4aaaa5;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}

h2, h3 {
    font-size: 22px;
}

/*Header Styling*/
.mainhead {
    background: #ffffff;
    margin: 0 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    width: 100%;
}

.logo {
    width:  250px;
    height: 90px;
    background: #4aaaa5;
    float: left;
    text-align: center;
    line-height: 90px;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
}

.nav-bar {
    margin-top: 25px;
    float: right;
}

/*.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}*/

.nav-bar li {
    float: left;
    border-right: 1px solid #bbb;
}

.nav-bar li:last-child {
    border-right: none;
}

.nav-bar li a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #4aaaa5;
}



/*.nav-bar {
    float: right;
    margin-top: 25px;
}

.nav-bar a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 15px;
    padding-left: 15px;
    line-height: 18px;
}

.nav-bar li a:hover {
    background-color: #4aaaa5;
}*/

/*.nav-bar a {
    display: inline;
    float: left;
    border-right: 2px solid #bbb;

}*/

.nav-bar a:last-child {
    border-right: none;
}

/*Main Container Styling*/

.main-container {
    padding-top: 130px;
    background: #ffffff;
    padding: 30px;
    margin: 0 0 182px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #ddd;
}

/*.container-contact {
    margin-left 59%;
}*/

.container-portfolio {
    width: 65%;
}

.profile {
    display: inline-block;
    width: 200px;
    height: 250px;
    border-radius: 50%;
    float: left;
    margin: 20px 20px 20px 20px;
    border: 3px solid #4aaaa5;
    float: left;
    display: block;
}

.socialbar {
    background: #ffffff;
    padding: 30px;
    width: 100%;
    max-width: 270px;
    float: left;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin-left: 40px;
}

h3, .sidebar, h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}

.socialbar img {
    width: 62px;
}

/*Form Styling*/

form label {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
}

form {
    margin: 0 auto;
    width: 100%;
/*    padding-left: 60px;
    padding-right: 40px;*/

}

input, textarea {
    width: 100%;
    background:#efefef;
    border: 1px solid #dedede;
    padding:10px;
    margin-top:3px;
    /*font-size:0.9em;*/
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input#submit {
    background-color: #4aaaa5;
    width: 127px;
    height: 38px;
    border:none;
    cursor:pointer;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

    #submit:hover {
        opacity:.9;
    }

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
    height:213px;
}

/*Source: https://www.youtube.com/watch?v=J6YmFApjX1w*/

article {
    height: 200px;
    width: 200px;
    background-color: white;
    float: left;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 60px;
    overflow: hidden;
    position: relative;
}

article h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;

    bottom: 0;
    width: 100%;

    margin-bottom: 10px;
}

article img {
    height: 100%;
    width: auto;
    position: absolute;

}


/*Footer Styling*/
.footer {
    text-align: center;
    display:block;
    position: fixed;
    background-color: #666666;
    color: white;
    border-top-width: 10px;
    border-style: solid;
    border-top-color: #4aaaa5;
    bottom: 0px;
    width: 100%;
}

.footer h4 {
    padding: 20px;
}